@import 'core/variables';
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.container {
    background-color:$color__green-dark;
    height: auto;
    padding: 20px;
}