@import url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);
.container {
	background-color: #aedbce;
	height: auto;
	padding: 20px;
}
.header {
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.header__img {
	height: 46px;
	width: 123px;
}
.profile__avatar {
	border: 1px solid #ccc;
	height: 300px;
	width: 300px;
}
.image,
.profile__avatar {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.image {
	box-shadow: 0 10px 10px #000;
	height: 377px;
	margin-bottom: 50px;
	object-fit: cover;
	width: 80%;
}
@media (min-width: 768px) {
	.image {
		height: 636px;
		width: 70%;
	}
}
.preview {
	width: 90%;
}
@media (min-width: 768px) {
	.preview {
		padding: 20px;
		width: 60%;
	}
}
.preview__link {
	-webkit-text-decoration: none 5px solid #000;
	text-decoration: none 5px solid #000;
}
.preview__btn {
	background-color: #997a94;
	border: 0 solid #e5e7eb;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: flex;
	font-family: Quicksand, sans-serif;
	font-size: 1rem;
	font-weight: 500;
	justify-content: center;
	line-height: 1.75rem;
	margin-bottom: 20px;
	margin-top: 10px;
	max-width: 360px;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
	position: relative;
	text-align: center;
	touch-action: manipulation;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	user-select: none;
	-webkit-user-select: none;
	width: 150px;
}
@media (min-width: 768px) {
	.preview__btn {
		font-size: 1.25rem;
		width: 200px;
	}
}
.preview__btn:focus {
	outline: 0;
}
.preview__btn:after {
	border: 1px solid #000;
	bottom: 4px;
	content: "";
	height: calc(100% - 1px);
	left: 4px;
	position: absolute;
	width: calc(100% - 1px);
}
.preview__btn:hover:after {
	bottom: 2px;
	left: 2px;
}
.autor {
	align-items: center;
	background-color: #fff;
	border-radius: 20px;
	color: #3e3e3e;
	display: flex;
	flex-direction: row-reverse;
	height: 50%;
	height: 214px;
	margin: auto;
	max-width: 280px;
	padding: 20px 8.5px 34.5px;
	-webkit-transform: translateY(-75px);
	transform: translateY(-75px);
	width: 95%;
}
@media (min-width: 768px) {
	.autor {
		gap: 40px;
		height: 312px;
		max-width: 500px;
		padding: 33px 25px 40px;
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
		width: 90%;
	}
}
.autor .articleProject {
	width: 60%;
}
.autor .articleProject__subtitle {
	align-items: center;
	color: #302c42;
	display: flex;
	font-size: 8px;
	justify-content: center;
	line-height: 9.4px;
	text-align: center;
}
@media (min-width: 768px) {
	.autor .articleProject__subtitle {
		font-size: 10px;
	}
}
.autor .articleProject__line {
	background-image: linear-gradient(
		90deg,
		hsla(0, 0%, 100%, 0),
		rgba(1, 1, 1, 0.75),
		hsla(0, 0%, 100%, 0)
	);
	border: 0;
	height: 1px;
	width: 100%;
}
.autor .articleProject__title {
	color: #000;
	font-family: Poppins, sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin-top: 10px;
	overflow-wrap: break-word;
}
@media (min-width: 768px) {
	.autor .articleProject__title {
		font-size: 24px;
		margin-bottom: 10px;
	}
}
.autor .articleProject__slogan {
	color: #575757;
	font-family: Poppins, sans-serif;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 10px;
}
@media (min-width: 768px) {
	.autor .articleProject__slogan {
		font-size: 16px;
	}
}
.autor .articleProject__desc {
	font-size: 8px;
	line-height: 14.1px;
	margin-bottom: 10px;
	max-width: 200px;
	overflow-wrap: break-word;
}
@media (min-width: 768px) {
	.autor .articleProject__desc {
		font-size: 10px;
		line-height: 17.6px;
		max-width: 250px;
		overflow-wrap: break-word;
	}
}
.autor .articleProject__technologies {
	align-items: center;
	border-radius: 20px;
	display: flex;
	font-family: Catamaran, sans-serif;
	font-size: 10px;
	gap: 23px;
	justify-content: flex-start;
}
@media (min-width: 768px) {
	.autor .articleProject__technologies {
		background-color: #d3d3d3;
		border-radius: 20px;
		font-size: 12px;
		padding: 10px;
	}
}
.autor .articleProject__technologies--text {
	color: #505050;
	font-size: 8px;
	font-weight: 500;
}
@media (min-width: 768px) {
	.autor .articleProject__technologies--text {
		font-size: 12px;
	}
}
.autor .articleProject__technologies--icons {
	display: flex;
	gap: 5px;
}
.autor .info-autor {
	text-align: center;
	width: 40%;
}
.autor .info-autor__image {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	height: 70.5px;
	margin: 0 auto;
	width: 70.5px;
}
@media (min-width: 768px) {
	.autor .info-autor__image {
		border-radius: 50%;
		height: 109px;
		width: 109px;
	}
}
.autor .info-autor__job {
	color: #909090;
	font-family: Catamaran, sans-serif;
	font-size: 10px;
	font-weight: 500;
	max-width: 90px;
	overflow-wrap: break-word;
}
@media (min-width: 768px) {
	.autor .info-autor__job {
		font-size: 16px;
		max-width: 120px;
	}
}
@media (min-width: 1024px) {
	.autor .info-autor__job {
		max-width: 200px;
	}
}
.autor .info-autor__name {
	color: rgba(0, 0, 0, 0.8);
	font-family: Catamaran, sans-serif;
	font-size: 14px;
	font-weight: 900;
	max-width: 90px;
	overflow-wrap: break-word;
	text-align: center;
}
@media (min-width: 768px) {
	.autor .info-autor__name {
		font-size: 18px;
		max-width: 120px;
	}
}
@media (min-width: 1024px) {
	.autor .info-autor__name {
		max-width: 150px;
	}
}
.card__link {
	color: #000;
	text-decoration: none;
}
.form {
	background-color: #aedbce;
	box-shadow: 0 10px 10px #000;
	font-family: Montserrat, sans-serif;
	padding: 18px 40px 0;
	width: 80vw;
}
@media (min-width: 768px) {
	.form {
		height: auto;
		margin-top: 20px;
		padding: 0 35px;
		width: 40%;
	}
}
.form__title {
	color: #26312e;
	font-size: 30px;
	font-weight: 900;
	text-align: center;
}
@media (min-width: 768px) {
	.form__title {
		padding-top: 24px;
	}
}
.form__ask-info {
	color: #26312e;
	padding: 20px;
	text-align: center;
}
.form__ask-info--subtitle {
	font-size: 15px;
	font-weight: 300;
	padding-bottom: 10px;
}
.form__ask-info--line {
	background-image: linear-gradient(
		90deg,
		hsla(0, 0%, 100%, 0),
		hsla(0, 0%, 100%, 0.75),
		hsla(0, 0%, 100%, 0)
	);
	border: 0;
	height: 1px;
	margin: 0 auto;
	width: 100%;
	width: 96.8px;
}
.form__project {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.form__project--input {
	padding-left: 15px;
}
.form__project--input,
.form__project--textarea {
	background-color: initial;
	border: 2px solid #26312e;
	border-radius: 40px;
	color: #26312e;
	height: 42.72px;
	padding-top: 5px;
}
.form__project--textarea {
	height: 110px;
	padding-left: 20px;
}
.form__autor {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.form__autor--input {
	background-color: initial;
	border: 2px solid #26312e;
	border-radius: 40px;
	color: #26312e;
	height: 42.72px;
	padding-left: 15px;
	padding-top: 5px;
}
.form__buttons-img {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.form__buttons-img--btn {
	background-color: #7a9994;
	border: 0 solid #e5e7eb;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-family: Quicksand, sans-serif;
	font-size: 1rem;
	font-weight: 500;
	justify-content: center;
	letter-spacing: 1px;
	line-height: 1.75rem;
	margin-top: 15px;
	max-width: 360px;
	outline: 0;
	padding: 13px 20px;
	position: relative;
	text-align: center;
	touch-action: manipulation;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	user-select: none;
	-webkit-user-select: none;
	width: 100%;
}
@media (min-width: 768px) {
	.form__buttons-img--btn {
		font-size: 1.25rem;
		padding: 0.75rem 2rem;
	}
}
.form__buttons-img--btn:focus {
	outline: 0;
}
.form__buttons-img--btn:after {
	border: 1px solid #000;
	bottom: 4px;
	content: "";
	height: calc(100% - 1px);
	left: 4px;
	position: absolute;
	width: calc(100% - 1px);
}
.form__buttons-img--btn:hover:after {
	bottom: 2px;
	left: 2px;
}
.form__buttons-img--btn-large {
	--b: 3px;
	--s: 0.45em;
	--color: #997a94;
	--_p: var(--s);
	background: conic-gradient(
			from 90deg at var(--b) var(--b),
			transparent 90deg,
			var(--color) 0
		)
		var(--_p) var(--_p) / calc(100% - var(--b) - var(--_p) * 2)
		calc(100% - var(--b) - var(--_p) * 2);
	border: 0;
	color: #000;
	font-size: 16px;
	margin: 30px auto;
	outline: var(--b) solid transparent;
	outline-offset: 0.6em;
	padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
	touch-action: manipulation;
	transition: 0.3s linear, color 0s, background-color 0s;
	user-select: none;
	-webkit-user-select: none;
}
.form__buttons-img--btn-large:active {
	background: #dbaed3;
}
.form__buttons-img--btn-large:focus-visible,
.form__buttons-img--btn-large:hover {
	--_p: 0px;
	outline-color: var(--color);
	outline-offset: 0.05em;
}
.form__buttons-img--btn-large:active {
	background: var(--color);
	color: #fff;
}
.form__buttons-img-large {
	display: flex;
}
.form__card {
	color: #26312e;
	padding: 20px 0;
	text-align: center;
}
.main {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 35px;
}
@media (min-width: 768px) {
	.main {
		align-items: flex-start;
		flex-direction: row;
		padding-top: 0;
	}
}
.main .preview {
	width: 90%;
}
@media (min-width: 768px) {
	.main .preview {
		padding: 20px;
		width: 60%;
	}
}
.main .preview__link {
	-webkit-text-decoration: none 5px solid #000;
	text-decoration: none 5px solid #000;
}
.main .preview__btn {
	background-color: #997a94;
	border: 0 solid #e5e7eb;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: flex;
	font-family: Quicksand, sans-serif;
	font-size: 1rem;
	font-weight: 500;
	justify-content: center;
	line-height: 1.75rem;
	margin-bottom: 20px;
	margin-top: 10px;
	max-width: 360px;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
	position: relative;
	text-align: center;
	touch-action: manipulation;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	user-select: none;
	-webkit-user-select: none;
	width: 150px;
}
@media (min-width: 768px) {
	.main .preview__btn {
		font-size: 1.25rem;
		width: 200px;
	}
}
.main .preview__btn:focus {
	outline: 0;
}
.main .preview__btn:after {
	border: 1px solid #000;
	bottom: 4px;
	content: "";
	height: calc(100% - 1px);
	left: 4px;
	position: absolute;
	width: calc(100% - 1px);
}
.main .preview__btn:hover:after {
	bottom: 2px;
	left: 2px;
}
.main .autor {
	align-items: center;
	background-color: #fff;
	border-radius: 20px;
	color: #3e3e3e;
	display: flex;
	flex-direction: row-reverse;
	height: 50%;
	height: 214px;
	margin: auto;
	max-width: 280px;
	padding: 20px 8.5px 34.5px;
	-webkit-transform: translateY(-75px);
	transform: translateY(-75px);
	width: 95%;
}
@media (min-width: 768px) {
	.main .autor {
		gap: 40px;
		height: 312px;
		max-width: 500px;
		padding: 33px 25px 40px;
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
		width: 90%;
	}
}
.main .autor .articleProject {
	width: 60%;
}
.main .autor .articleProject__subtitle {
	align-items: center;
	color: #302c42;
	display: flex;
	font-size: 8px;
	justify-content: center;
	line-height: 9.4px;
	text-align: center;
}
@media (min-width: 768px) {
	.main .autor .articleProject__subtitle {
		font-size: 10px;
	}
}
.main .autor .articleProject__line {
	background-image: linear-gradient(
		90deg,
		hsla(0, 0%, 100%, 0),
		rgba(1, 1, 1, 0.75),
		hsla(0, 0%, 100%, 0)
	);
	border: 0;
	height: 1px;
	width: 100%;
}
.main .autor .articleProject__title {
	color: #000;
	font-family: Poppins, sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin-top: 10px;
	overflow-wrap: break-word;
}
@media (min-width: 768px) {
	.main .autor .articleProject__title {
		font-size: 24px;
		margin-bottom: 10px;
	}
}
.main .autor .articleProject__slogan {
	color: #575757;
	font-family: Poppins, sans-serif;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 10px;
}
@media (min-width: 768px) {
	.main .autor .articleProject__slogan {
		font-size: 16px;
	}
}
.main .autor .articleProject__desc {
	font-size: 8px;
	line-height: 14.1px;
	margin-bottom: 10px;
	max-width: 200px;
	overflow-wrap: break-word;
}
@media (min-width: 768px) {
	.main .autor .articleProject__desc {
		font-size: 10px;
		line-height: 17.6px;
		max-width: 250px;
		overflow-wrap: break-word;
	}
}
.main .autor .articleProject__technologies {
	align-items: center;
	border-radius: 20px;
	display: flex;
	font-family: Catamaran, sans-serif;
	font-size: 10px;
	gap: 23px;
	justify-content: flex-start;
}
@media (min-width: 768px) {
	.main .autor .articleProject__technologies {
		background-color: #d3d3d3;
		border-radius: 20px;
		font-size: 12px;
		padding: 10px;
	}
}
.main .autor .articleProject__technologies--text {
	color: #505050;
	font-size: 8px;
	font-weight: 500;
}
@media (min-width: 768px) {
	.main .autor .articleProject__technologies--text {
		font-size: 12px;
	}
}
.main .autor .articleProject__technologies--icons {
	display: flex;
	gap: 5px;
}
.main .autor .info-autor {
	text-align: center;
	width: 40%;
}
.main .autor .info-autor__image {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	height: 70.5px;
	margin: 0 auto;
	width: 70.5px;
}
@media (min-width: 768px) {
	.main .autor .info-autor__image {
		border-radius: 50%;
		height: 109px;
		width: 109px;
	}
}
.main .autor .info-autor__job {
	color: #909090;
	font-family: Catamaran, sans-serif;
	font-size: 10px;
	font-weight: 500;
	max-width: 90px;
	overflow-wrap: break-word;
}
@media (min-width: 768px) {
	.main .autor .info-autor__job {
		font-size: 16px;
		max-width: 120px;
	}
}
@media (min-width: 1024px) {
	.main .autor .info-autor__job {
		max-width: 200px;
	}
}
.main .autor .info-autor__name {
	color: rgba(0, 0, 0, 0.8);
	font-family: Catamaran, sans-serif;
	font-size: 14px;
	font-weight: 900;
	max-width: 90px;
	overflow-wrap: break-word;
	text-align: center;
}
@media (min-width: 768px) {
	.main .autor .info-autor__name {
		font-size: 18px;
		max-width: 120px;
	}
}
@media (min-width: 1024px) {
	.main .autor .info-autor__name {
		max-width: 150px;
	}
}
.main .card__link {
	color: #000;
	text-decoration: none;
}
.main .form {
	background-color: #aedbce;
	box-shadow: 0 10px 10px #000;
	font-family: Montserrat, sans-serif;
	padding: 18px 40px 0;
	width: 80vw;
}
@media (min-width: 768px) {
	.main .form {
		height: auto;
		margin-top: 20px;
		padding: 0 35px;
		width: 40%;
	}
}
.main .form__title {
	color: #26312e;
	font-size: 30px;
	font-weight: 900;
	text-align: center;
}
@media (min-width: 768px) {
	.main .form__title {
		padding-top: 24px;
	}
}
.main .form__ask-info {
	color: #26312e;
	padding: 20px;
	text-align: center;
}
.main .form__ask-info--subtitle {
	font-size: 15px;
	font-weight: 300;
	padding-bottom: 10px;
}
.main .form__ask-info--line {
	background-image: linear-gradient(
		90deg,
		hsla(0, 0%, 100%, 0),
		hsla(0, 0%, 100%, 0.75),
		hsla(0, 0%, 100%, 0)
	);
	border: 0;
	height: 1px;
	margin: 0 auto;
	width: 100%;
	width: 96.8px;
}
.main .form__project {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.main .form__project--input {
	padding-left: 15px;
}
.main .form__project--input,
.main .form__project--textarea {
	background-color: initial;
	border: 2px solid #26312e;
	border-radius: 40px;
	color: #26312e;
	height: 42.72px;
	padding-top: 5px;
}
.main .form__project--textarea {
	height: 110px;
	padding-left: 20px;
}
.main .form__autor {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.main .form__autor--input {
	background-color: initial;
	border: 2px solid #26312e;
	border-radius: 40px;
	color: #26312e;
	height: 42.72px;
	padding-left: 15px;
	padding-top: 5px;
}
.main .form__buttons-img {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main .form__buttons-img--btn {
	background-color: #7a9994;
	border: 0 solid #e5e7eb;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-family: Quicksand, sans-serif;
	font-size: 1rem;
	font-weight: 500;
	justify-content: center;
	letter-spacing: 1px;
	line-height: 1.75rem;
	margin-top: 15px;
	max-width: 360px;
	outline: 0;
	padding: 13px 20px;
	position: relative;
	text-align: center;
	touch-action: manipulation;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	user-select: none;
	-webkit-user-select: none;
	width: 100%;
}
@media (min-width: 768px) {
	.main .form__buttons-img--btn {
		font-size: 1.25rem;
		padding: 0.75rem 2rem;
	}
}
.main .form__buttons-img--btn:focus {
	outline: 0;
}
.main .form__buttons-img--btn:after {
	border: 1px solid #000;
	bottom: 4px;
	content: "";
	height: calc(100% - 1px);
	left: 4px;
	position: absolute;
	width: calc(100% - 1px);
}
.main .form__buttons-img--btn:hover:after {
	bottom: 2px;
	left: 2px;
}
.main .form__buttons-img--btn-large {
	--b: 3px;
	--s: 0.45em;
	--color: #997a94;
	--_p: var(--s);
	background: conic-gradient(
			from 90deg at var(--b) var(--b),
			transparent 90deg,
			var(--color) 0
		)
		var(--_p) var(--_p) / calc(100% - var(--b) - var(--_p) * 2)
		calc(100% - var(--b) - var(--_p) * 2);
	border: 0;
	color: #000;
	font-size: 16px;
	margin: 30px auto;
	outline: var(--b) solid transparent;
	outline-offset: 0.6em;
	padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
	touch-action: manipulation;
	transition: 0.3s linear, color 0s, background-color 0s;
	user-select: none;
	-webkit-user-select: none;
}
.main .form__buttons-img--btn-large:active {
	background: #dbaed3;
}
.main .form__buttons-img--btn-large:focus-visible,
.main .form__buttons-img--btn-large:hover {
	--_p: 0px;
	outline-color: var(--color);
	outline-offset: 0.05em;
}
.main .form__buttons-img--btn-large:active {
	background: var(--color);
	color: #fff;
}
.main .form__buttons-img-large {
	display: flex;
}
.main .form__card {
	color: #26312e;
	padding: 20px 0;
	text-align: center;
}
.main .input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
	color: #fff;
}
.main .input::placeholder,
.textarea::placeholder {
	color: #fff;
}
.btn-color {
	border-radius: 20px;
	font-weight: 700;
	height: 30px;
	width: 85px;
}
.btn-color-dark {
	background-color: #000;
	color: #fff;
}
.hidden {
	display: none;
}
.fa-github,
.fa-globe {
	font-size: 15px;
}
.error {
	color: red;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
}
.btn__url {
	font-size: 12px;
	overflow-wrap: break-word;
}
.link__icons {
	color: #505050;
	cursor: pointer;
	text-decoration: none;
}
.landingPage {
	align-items: center;
	background-color: #aedbce;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: auto;
	min-height: 91vh;
}
@media (min-width: 1024px) {
	.landingPage {
		min-height: 91.2vh;
	}
}
.landingPage__title {
	font-family: Quicksand, sans-serif;
	font-size: 1.4rem;
	margin-top: 30px;
	text-align: center;
}
@media (min-width: 768px) {
	.landingPage__title {
		font-family: Quicksand, sans-serif;
		font-size: 2rem;
	}
}
.landingPage__subtitle {
	font-family: Quicksand, sans-serif;
	font-size: 1rem;
	margin-bottom: 30px;
	margin-top: 15px;
	text-align: center;
}
@media (min-width: 768px) {
	.landingPage__subtitle {
		font-family: Quicksand, sans-serif;
		font-size: 1.4rem;
	}
}
.landingPage .link {
	-webkit-text-decoration: none 5px solid #000;
	text-decoration: none 5px solid #000;
}
.landingPage .link__btn {
	background-color: #997a94;
	border: 0 solid #e5e7eb;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: flex;
	font-family: Quicksand, sans-serif;
	font-size: 1rem;
	font-weight: 500;
	justify-content: center;
	line-height: 1.75rem;
	margin-top: 10px;
	max-width: 360px;
	padding: 0.75rem 1rem;
	position: relative;
	text-align: center;
	touch-action: manipulation;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	user-select: none;
	-webkit-user-select: none;
	width: 100%;
}
@media (min-width: 768px) {
	.landingPage .link__btn {
		font-size: 1.25rem;
		padding: 0.75rem 2rem;
	}
}
.landingPage .link__btn:focus {
	outline: 0;
}
.landingPage .link__btn:after {
	border: 1px solid #000;
	bottom: 4px;
	content: "";
	height: calc(100% - 1px);
	left: 4px;
	position: absolute;
	width: calc(100% - 1px);
}
.landingPage .link__btn:hover:after {
	bottom: 2px;
	left: 2px;
}
.landingPage .landingDiv {
	grid-gap: 18px;
	display: grid;
	gap: 18px;
	grid-template-columns: 300px;
	grid-template-rows: auto;
	padding-top: 120px;
}
@media (min-width: 768px) {
	.landingPage .landingDiv {
		grid-template-columns: 430px;
		grid-template-rows: auto;
	}
}
@media (min-width: 1024px) {
	.landingPage .landingDiv {
		grid-template-columns: 480px 480px;
		grid-template-rows: auto auto;
	}
}
.landingPage .msg {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 700;
}
@media (min-width: 768px) {
	.landingPage .msg {
		font-size: 20px;
		font-weight: 700;
	}
}
.landingPage .msg__img {
	height: 150px;
}
@media (min-width: 768px) {
	.landingPage .msg__img {
		height: 250px;
	}
}
* {
	box-sizing: border-box;
	font-family: Quicksand, sans-serif;
	margin: 0;
	padding: 0;
}
/*# sourceMappingURL=main.b6265e44.css.map*/
